# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# artifacts
packages/circom/artifacts
packages/foundry/inputs

# Build artifacts
packages/foundry/out/
packages/foundry/broadcast/
packages/foundry/cache/
packages/foundry/deployments/

# Temporary files
packages/foundry/solidityCalldata.txt
packages/foundry/solidityInputs*.json
packages/foundry/cast_call.sh

# ZK artifacts
packages/circom/artifacts/
packages/circom/scripts/*.wtns
packages/circom/scripts/proof.json
packages/circom/scripts/public.json
packages/circom/scripts/input.json